# Pandas cheat sheet

This is a cheat sheet for python's library Pandas.

In [3]:
# Install pydataset 
#!pip install pydataset

# Import data from pydataset library
from pydataset import data

initiated datasets repo at: C:\Users\maria.suescun\.pydataset/

In [11]:
# Load iris dataset 
df = data('iris')
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

## Group by in pandas

### Count

Similar to the SQL comand
<code> SELECT COL_1, COUNT(*) GROUP BY COL_1 </code>

In [12]:
df.groupby(['Species']).size()

Species
setosa        50
versicolor    50
virginica     50
dtype: int64